.TodoItem {
    display: flex;
    justify-content: space-between;
    column-gap:15px;
    padding: 5px;
    background-image: linear-gradient(to bottom right, #78787866, rgba(120,120,120,0));
}
.TodoItem:hover{
    background-image: linear-gradient(to bottom right, rgba(180,180,180,0), rgba(180,180,180,0));
}

.TodoItem-button{
    font-size: 18pt;
    color:green;
    margin: 10px;
    cursor:pointer;
}
.TodoItem-button.danger{
    color:red;
}
.TodoItem-button:hover{
    color: rgb(0, 255, 0)
}
.TodoItem-button.danger:hover{
color: rgb(255, 120, 120);
}